@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #f6f6f6;
	background-color: var(--app-background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-primary: #ff4e4e;
	--color-secondary: #646cff;

	--app-background-color: #1d1d1d;
	--app-button-color: #0f0f0f98;
	--app-button-hover-color: #396cd8;
}

::-webkit-scrollbar {
  display: none;
}


.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	text-align: center;
}

.app-logo {
	height: 8em;
	padding: 1.5em;
	will-change: filter;
	transition: 0.75s;
}

.app-logo:hover {
	filter: drop-shadow(0 0 2em var(--color-primary));
}

.row {
	@apply flex flex-row flex-wrap justify-center;
}

.main-page-buttons {
	@apply btn mt-5 ml-3
}

h1 {
	color: var(--color-secondary);
}

a {
	color: var(--color-secondary);
	text-decoration: inherit;
}

a:hover {
	color: var(--color-primary);
}

input,
button {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}